/*login page */
.body-log{
  background-color: #ecf0f5;
}
.floatRight{
  float: right;
}
.card-login{
  height: 400px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    border-radius: 3px;
    background-color: #fff;
    /*background: #ffffff;*/
    border-top: 3px solid #dd4b39;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 30px 50px;
}
.user-box {
    position: relative;
    width:    40%; /* desired width */
    
    margin: 0 auto;
}

.user-box:before {
    content:     "";
    display:     block;
    padding-top: 100%; /* initial ratio of 1:1*/
}

.user-content {
    position: absolute;
  margin: 20px;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;
    border-radius: 100%;
    border: 5px solid #dd4b39;
    background-image: url("../img/logo.png");
    background-position: center;
    background-size: 100% 100%;
}
.input-group-addon {
    background-color: #dd4b39;
    border: 1px solid #dd4b39;
    color: #fff;
}
.input-formtrans:not(:first-of-type)
{
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.error-notif{
    border-left: 3px solid #D9534F;
    background-color: #FDF7F7;
    padding: 10px;
    margin: 10px;
    font-size: 12px;
}
.wrap-btn{
    padding: 10px 0px;
}

/*
    content
*/
.text-total{
    width: 250px;
    font-size: 20px;
    display: block;
    padding: 20px 0px 20px 30px;
}
.floatRight{
    float: right;
}
.selected{background-color: #acbad5}
.textRight{text-align: right}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: fit-content !important;
}